{# empty Twig template #}

    <form method="POST">
<table border="2">
    
    <tr> 
        <td>
            {{ form_label(Form.type) }}
        </td>   
         <td>
               {{ form_widget(Form.type) }}
        </td>
    </tr>
    <tr> 
        <td>
            {{ form_label(Form.CREATE) }}
        </td>
         <td>
               {{ form_widget(Form.CREATE) }}
        </td>
    </tr>  
    
</table> 
    </form>
       