{# empty Twig template #}

<form method="POST">
<table border="2">
    <tr> 
        
    <tr> 
        <td>
            {{ form_label(Form.type) }}
        </td>   
         <td>
               {{ form_widget(Form.type) }}
        </td>
    </tr>
    <tr> 
        <td>
            {{ form_label(Form.UPDATE) }}
        </td>
         <td>
           {{ form_widget(Form.UPDATE) }}
    
         
        </td>
    </tr>  
    
</table> 
   </form>  